*** General ***

dsn = DBI:Pg:database=dbtoria_test_db;host=localhost
mojo_secret = MyCookieSecret
log_file = /tmp/dbtoria.log
schema = public
encoding = latin1

*** MetaEngines ***
+GedafeSQL
+GedafeMeta

