*** General ***

dsn = DBI:Pg:database=dbtoria_test_db;host=localhost
mojo_secret = MyCookieSecret
log_file = /tmp/dbtoria.log
schema = public
encoding = latin1

*** MetaEngines ***
+GedafeSQL
  # substitute regex to be applied on tablenames
  tablenamesReplace=s/^[A-Z]\S?\s+//
  # regex to filter list of tables for display in toolbar
  toolbarTables=s/^[A-Z]\S?\s+(Work Log|Expense Log|Contracts|Invoices)/$1/
+GedafeMeta

