*** General ***

dsn = DBI:Pg:database=dbtoria_test_db;host=localhost
mojo_secret = MyCookieSecret
log_file = /tmp/dbtoria.log
schema = public
encoding = latin1

*** MetaEngines ***
+GedafeSQL
  # substitute regex to be applied on tablenames
  tablenamesReplace=^. ,
  # regex to filter list of tables for display in toolbar
  toolbarTables=Work Log|Expense Log|^Contracts$|Invoices
+GedafeMeta

